body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e9e7e5;
    color: #2d572c;
}

.navbar {
    background-color: #333;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2d572c;
    color: white;
    z-index: 10000;
}


.section {
    padding: 50px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transform: scale(1.05);
}
a{
  color: #2c12f4;
  text-decoration: none;}

.container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    position: relative;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--glass-bg);
    
}
.container:hover{
 transform: scale(1.25);
}

.hidden-text {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 5px;
}
.buttons {
    margin-top: 20px;
}

button {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: rgb(29, 203, 81);
    transform: scale(1.05);
}
footer {
    background: #2d572c;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer a {
    color: #74ebd5;
    text-decoration: none;
}
img{
    height: 60px;
    width: 60px;
    border: solid white 2px;
    border-radius: 50%;
   
}